/* ! Existen 2 diseños, uno con un menu lateral, y el otro ocupando toda la pantalla, definir por el que mas le guste*/

/* .menu_desplegable{
    height: auto;
    width: 40%;
    border: 2px  solid #116D8D;
    border-right: none;
    border-top: none;
    text-align: center;
    z-index: 100;
    transform: translateX(60vw);
}

.click {
    transform: translateX(67vw);
}

.nav_link{
    display: flex;
    justify-content: center;
}

.nav_link .links, 
.cuenta{
    width: 50%;
    margin: 15px auto;
}

.nav_link .link{
    list-style: none;
    margin: 5px 0;
}

.nav_link .link_a{
    text-decoration: none;
    color: #000;
    font-weight: 600;
} */

.menu_desplegable{
    height: auto;
    width: 100%;
    border-bottom: 2px  solid #116D8D;
    text-align: center;
    z-index: 100;
    transform: translateY(-20vw);
}

/* .click {
    transform: translateY(1vw);
} */

.nav_link{
    display: flex;
    justify-content: center;
}

.nav_link .links, 
.cuenta{
    display: flex;
    justify-content: space-evenly;  
    margin: 15px auto;
}

.nav_link .links{
    width: 80%;
}

.nav_link .cuenta{
    width: 20%;
}

.nav_link .link{
    list-style: none;
    margin: 5px 0;
}

.nav_link .link_a{
    text-decoration: none;
    color: #000;
    font-weight: 600;
}